<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BSE Top Stocks</title>
      <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

	<h1><a href="/"> <span class="blue"></span>BSE<span class="blue"></span> <span class="yellow">Equity Stocks</span></a></h1>
	<h2> {{name_of_company}}</h2>

	<div>
    <table class="container" id="myTable">
      <tbody>
          {% for key, value in company_details.items() %}
          <tr>
            <td> {{ key }} </td>
            <td> ₹ {{ value }} </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
	</div>
</body>
</html>
